body {
    text-align: center;
    font-family: "Roboto";
}

button {
    margin: 0.5em;
    font-family: inherit;
    padding: 1em;
    font-size: 1em;
}

Label {
    padding: 1em;
    font-size: 1em;
}

input {
    margin: 0.3em;
}